@import "tailwindcss";

.padding-both {
    padding: 0 120px 0 120px;
}

@media screen and (max-width: 1250px) {
    .padding-both {
        padding: 0 50px 0 50px;
    }
}

@media screen and (max-width: 900px) {
    .padding-both {
        padding: 0 20px 0 20px;
    }
}

@media screen and (max-width: 700px) {
    .padding-both {
        padding: 0 10px 0 10px;
    }
}

.active {
    border-bottom: 1px solid #009966;
    color: #009966;
}

@media screen and (max-width: 767px) {
    .active {
        /* border: 1px solid #009966; */
        background-color: #a9e2cf62;
        border: none;
    }

}